:root {
  --accent-color: rgba(33, 150, 243, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --logo-text-color: rgba(0, 0, 0, 1);
  --grey-text-color: rgba(117, 117, 117, 1);
  --white-text-color: rgba(255, 255, 255, 1);

  --footergeroy-bg-color: rgba(47, 48, 58, 1);
  --section-bg-color: rgba(245, 244, 250, 1);

  --cards-gap-porfolio: 30px;

  --cards-border-portfolio: 1px solid rgba(238, 238, 238, 1);

  --header-border-bottom: 1px solid rgba(236, 236, 236, 1);
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;

  /* outline: 1px solid green; */
  /* background-color: greenyellow; */
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

header {
  border-bottom: var(--header-border-bottom);
}

.logo-accent {
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
}

.logo-dark {
  color: var(--title-text-color);
}

.logo-accent {
  padding-right: 42px;
}

/* .logo-accent:hover,
.logo-accent:focus {
  color: var(--grey-text-color);
} */

.nav {
  display: flex;
  align-items: center;
  padding-left: 0;

  /* margin-top: 0; */
  /* margin-bottom: 0; */
}

.nav li:not(:last-child) {
  padding-right: 50px;
}

.nav-contact {
  display: flex;
  padding: 0;
}

.nav-contact li {
  padding-right: 50px;
}

.nav-contact li:last-child {
  padding: 0;
}

.nav-item {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}

/* .nav-col:active {
  color: red;
} */

.nav-cont {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-text-color);
}

.nav-cont:hover,
.nav-cont:focus {
  color: var(--accent-color);
}

/* geroy */

.geroy {
  /* min-height: 600px; */
  background-color: var(--footergeroy-bg-color);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.geroy-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  margin-bottom: 30px;
  /* width: 696px;
  height: 120px; */
}

.button-geroy {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
}

.button-geroy:hover,
.button-geroy:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

/* fatyres */

.fatyres {
  padding-top: 92px;
}

.fatyres-list {
  display: flex;
}

.fatyres-item {
  /* height: 101px; */
  height: auto;
  margin-right: 30px;
}

.fatyres-item:last-child {
  margin-right: 0;
}

.fatyres h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.fatyres p {
  color: var(--grey-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* wot-we-do */

.wot-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wot-we-do h2 {
  margin-bottom: 50px;
}

.titllesecond {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-foto {
  display: flex;
}

.list-foto-item:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team {
  background-color: var(--section-bg-color);

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  text-align: center;

  background-color: var(--white-text-color);
  border-radius: 4px;
}

.team-list-cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team h3 {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2; /* text-align: center; */
  letter-spacing: 0.03em;

  /* margin-top: 30px; */
  margin-bottom: 10px;
}

.team p {
  color: var(--grey-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 19px; /* text-align: center; */
  letter-spacing: 0.03em;

  /* padding-bottom: 30px; */
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footergeroy-bg-color);
}

.logo-white {
  color: var(--white-text-color);
}

.footer-nav-cont {
  display: flex;
  flex-direction: column;
}

.footer-address {
  padding-top: 20px;
  padding-bottom: 9px;
}

.adres-white {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-mail {
  padding-bottom: 9px;
}

/* STR 2 */
/* portfolio */

.filter {
  padding-top: 94px;
}

.filter-buttton {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.filter button {
  background-color: var(--section-bg-color);
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  text-align: center;

  padding: 6px 22px;
}

.filter-buttton li:not(:last-child) {
  margin-right: 8px;
}

/* .filter-buttton li:last-child {
  margin: 0;
} */

.filter button:focus,
.filter button:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: none;
}

/* filter-list */

.filter-list {
  margin-top: 50px;
  padding-bottom: 94px;
}

.filter-list h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-list p {
  color: var(--grey-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.cards {
  /* outline: 1px solid tomato; */
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--cards-gap-porfolio));
  margin-top: calc(-1 * var(--cards-gap-porfolio));
}

.cards-item {
  /* outline: 1px solid teal; */
  flex-basis: calc(100% / 3 - var(--cards-gap-porfolio));
  margin-left: var(--cards-gap-porfolio);
  margin-top: var(--cards-gap-porfolio);
  outline: var(--cards-border-portfolio);
}

.cards-item-content {
  padding: 20px 24px;
}

.cards-item-content h3 {
  margin-bottom: 4px;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */ ;
